# Machine Learning Exercise

En la industria de la publicidad online, se llama impresión a cuando se muestra un anuncio a un usuario, y click, a cuando el usuario clickea el mismo, y en los casos en los que se hace click, ambos eventos son guardados compartiendo un identificador correspondiente a la transacción.

A menudo se considera una tarea importante la capacidad de las empresas para predecir que usuarios van a hacer click en un anuncio antes de mostrarlo, ya que puede haber más de un anuncio disponible y mostrarlo incurre un costo.

Se cuenta con una base de datos con el siguiente esquema:

![alt text](./scheme_imps_clicks.png)


Aquí ([descargar](https://drive.google.com/uc?id=1fmhC3Wjvp_n7pMcKKL8ZQPXZng5QW8bb&export=download)) se cuenta con una base de datos sqlite3 con datos de ejemplo, para trabajar.

La misma cuenta con una muestra de unos pocos días de datos, en la que las variables categóricas han sido hasheadas para mantener los nombres anónimos, esto puede considerarse irrelevante, las mismas corresponden a datos como el país donde ocurrió la impresión o a que cliente y proveedor corresponde.

1. Utilizar la base de datos para entrenar un modelo para estimar si una impresión va a ser clickeada.
Nota: se considera que una impresión fue clickeada, si hay un click con el mismo id cuyo timestamp es lo sumo 2 horas mayor al de la impresión
Se deben utilizar los primeros días de datos como datos de entrenamiento y el último día como test para evaluar su modelo.
2. Describa el modelo, algoritmo y metodología utilizada.
3. Presente brevemente los resultados obtenidos. Como los evaluó? Por qué?
4. Bonus: Cambiaría algo a su solución si la base de datos fuese 10 veces más grande que la provista? Que?

In [1]:
import pandas as pd
import sqlite3

In [2]:
cnx = sqlite3.connect('imps_clicks.db.2')

In [3]:
impressions = pd.read_sql_query("SELECT * FROM impressions", cnx)

In [6]:
clicks = pd.read_sql_query("SELECT * FROM clicks", cnx)

In [8]:
print(impressions.shape)
print(clicks.shape)

(3634110, 26)
(145809, 3)

In [10]:
impressions.head()

,id,time,r_bidfloor,r_age,r_height,r_width,categorical_0,categorical_1,categorical_2,categorical_3,...,categorical_10,categorical_11,categorical_12,categorical_13,categorical_14,categorical_15,categorical_16,categorical_17,categorical_18,categorical_19
0,292168921339466749,1.525719e+09,0.090,NaN,NaN,NaN,0f92dddc,0b6f5a3c,ac9c5a5e,324df420,...,e2dd1f89,af748bc4,539438fe,81b73927,0f92dddc,e5a8600b,be9d46cb,4fb33344,afe7b405,f46f184b
1,301026010107952934,1.525719e+09,0.569,NaN,250.0,300.0,0f92dddc,8ed5aa01,acdf3b27,5df13856,...,e2dd1f89,af748bc4,539438fe,60ccf532,0f92dddc,a6175c97,4efbfa20,0f92dddc,afe7b405,28322c68
2,1593468802636566196,1.525719e+09,0.219,NaN,250.0,300.0,48454cb2,75a8d373,bf95698f,81d47546,...,83634957,c78aa531,539438fe,d43589af,b6ecc8b2,a6175c97,4efbfa20,0f92dddc,afe7b405,ec0691fc
3,851314676801512203,1.525719e+09,0.930,NaN,NaN,NaN,0f92dddc,b6866c56,47c41a85,85ac804d,...,6ff49f13,c78aa531,539438fe,f8f36dd0,0f92dddc,0774a6df,be9d46cb,1f24f24a,afe7b405,6b5b9e8f
4,91561499709735199,1.525721e+09,6.730,NaN,480.0,320.0,0c436334,8ed5aa01,5419c88d,f9e3361a,...,e2dd1f89,c78aa531,539438fe,81b73927,b6ecc8b2,9beb5470,be9d46cb,1181e38f,afe7b405,dd867f0a

In [9]:
clicks.head()

                    id          time categorical_0
0    65183818012886860  1.525722e+09      0af10f2c
1  2113542931232678124  1.525723e+09      fea08526
2  1082639249992126326  1.525722e+09      e8e0e1a5
3  1635761239458084446  1.525722e+09      21c51bb5
4  1877180330329664957  1.525723e+09      b4b7efe0